/**
 * Created by PhpStorm.
 * User: Francisco Javier Montiel Morán
 * Email: francisco.montiel@enlace.mx
 * Date: 17/03/2017
 * Time: 04:17 PM
 */

body {
    font-family: 'Open Sans', sans-serif;
}

.table {
    font-size: .8em;
}

.thead-inverse th {
    color: #fff;
    background-color: #292b2c;
}